body {
    background-color: #808000;
}



h1 {
    color: #008000;
}

h2, h3, h4, h5 {
    color: #006600;
    padding: 20px 40px;
}

b {
    color: #800000
}

c {
    color: #006600
}

d{
    padding: 20px 40px;
}

input{
    color: #006600
}
